.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  background-color: black;
  border-radius: 2px;
  padding: 0.5rem;
  color: white;

  a {
    color: steelblue;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    display: inline-block;
    &:hover {
      font-weight: bold;
    }
  }
}
